div(class="row")
  | !{addUser}
  div(class="chats-wrapper relative")
    div(class="operations-wrapper column")
      | !{chatOperations}
    | !{chatPreview}
  div(class="current-chat column content-center relative")
    div(class="current-chat__user row items-center absolute")
      | !{chatHeader}
      | !{chatControls}
      a(class="chat-controls-icon" data-href="chat-controls")
    | !{messagesList}
    | !{chatInput}
