div(class="row full-width" data-test-id="chat")
  | !{addUser}
  div(class="chats-wrapper relative")
    div(class="operations-wrapper column")
      | !{chatOperations}
    | !{chatPreview}
  div(class=`current-chat column content-center relative ${isMessagesLoading ? 'current-chat--loading' : ''}`)
    div(class="current-chat__user row items-center absolute")
      | !{chatHeader}
      | !{chatControlsWrapper}
    | !{messagesList}
    | !{chatInput}
