div(class="profile column items-center content-center text-center full-width relative" data-test-id="profile")
  | !{goBackButton}
  div(class="column")
    div(class="profile__data")
      form(class="profile__img-wrapper relative" enctype="multipart/form-data" data-href="/changeAvatar")
        | !{avatar}
      h3(class="profile__title") #{userName}
  form(class="column")
    | !{profileInputsList}
    | !{profileError}
    if userActions
      ul(class="profile__info profile__info-controls")
          each userAction, i in userActions
            li(class="profile__item row content-between items-center")
               a(class=`${i === userActions.length - 1 ? 'profile__item-link--special' : 'profile__item-link'}` data-href=`/${userAction.action}`) #{userAction.key}
      div(class="self-center")
        | !{button}
  | !{changePassModal}
