div(class="chat-preview row relative")
  img(class="chat-preview__img" src=`/static/images/${chatPreviewData.avatar}` alt="Аватар пользователя")
  div(class="column items-start")
    span(class="chat-preview__name") #{chatPreviewData.name}
    span(class="chat-preview__body") #{chatPreviewData.chat}
  span(class="chat-preview__time absolute") #{chatPreviewData.time}
  span(class="chat-preview__count absolute text-center") #{chatPreviewData.count}
